@import "tailwindcss";
@plugin "daisyui";

:root {
  background-color: white;
  color: black;
}
.Trello {
  font-family: "InterVariable", "Inter", system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
.avatar {
  border: none;
}
.tooltip > .tooltip-content,
.tooltip[data-tip]:before {
  font-size: 10px; /* 12px */
  color: black;
}
.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}
.unselectable-text {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none; /* Standard syntax */
}
